<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cafe Cafein - Pesan Kopi dan Pickup di outlet terdekat</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <!-- navbar -->
    <header>
        <a href="#" class="logo"><img src="img/logocafe.png" alt=""></a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href="#delivery">Pickup</a></li>
            <li><a href="#app">Contact</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Business</a></li>
        </ul>

    </header>

    <!-- home -->
    <section class="home" id="home">
        <div class="home-text">
            <span>Welcome To</span>
            <h1>Cafe Cafein</h1>
            <h2>Your Coffee is a <br>tap away</h2>
            <a href="login.html" class="btn">Log In</a>
        </div>
        <div class="home-img">
            <img src="img/homecafe.png" alt="">
        </div>
    </section>
    <section class="shop" id="shop">
        <div class="heading">
            <span>Beli Sekarang</span>
            <h1>Menu Kami</h1>
        </div>
        <div class="shop-container">
            <div class="box">
                <div class="box-img">
                    <img src="img/shop1cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Kopi Selebew</h2>
                <span>Rp 19,000</span>
                <a href="#" class="btn">Pesan Sekarang</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/shop2cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Kopi Susu</h2>
                <span>Rp 19,000</span>
                <a href="#" class="btn">Pesan Sekarang</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/shop3cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Milo Coklat</h2>
                <span>Rp 22,000</span>
                <a href="#" class="btn">Pesan Sekarang</a>
            </div>
        </div>
    </section>

    <!-- pickup -->
    <section class="delivery" id="delivery">
        <div class="heading">
            <span>Dapatkan Sekarang</span>
            <h1>Pickup di outlet terdekat</h1>
        </div>
        <div class="container">
            <div class="delivery-img">
                <img src="img/pickup.png" alt="">
            </div>
            <div class="delivery-text">
                <h2>Pesan sekarang, diantar hari ini</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores iure ducimus aliquid modi consectetur quidem tenetur. Distinctio minus consequatur neque.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dicta quia aliquam tempore earum amet repudiandae ab possimus molestiae beatae!</p>
                <a href="#" class="btn">Pesan Sekarang</a>
            </div>
        </div>
    </section>

    <!-- contact -->
    <section class="app" id="app">
        <div class="heading">
            <span>Hubungi sekarang</span>
            <h1>Kontak kami</h1>
        </div>
        <div class="container">

            <div class="app-text">
                <h2>Hubungi kami jika mengalami kesulitan</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores iure ducimus aliquid modi consectetur quidem tenetur. Distinctio minus consequatur neque.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dicta quia aliquam tempore earum amet repudiandae ab possimus molestiae beatae!</p>
                <a href="#" class="btn">Kontak Sekarang</a>
            </div>
            <div class="app-img">
                <img src="img/contact.png" alt="">
            </div>
        </div>
    </section>

    <!-- about -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="img/aboutcafe.png" alt="">
        </div>
        <div class="about-text">
            <h2>Bisnis kami dibuka pada tahun 2024</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores iure ducimus aliquid modi consectetur quidem tenetur. Distinctio minus consequatur neque.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum dicta quia aliquam tempore earum amet repudiandae ab possimus molestiae beatae!</p>
            <a href="#" class="btn">Baca Lebih Banyak</a>
        </div>
    </section>

    <!-- business -->
    <section class="contact" id="contact">
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
        </div>
        <div class="links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Our Company</a>
        </div>
        <p>&#169; CafeSelebew All Right Reserved.</p>
    </section>

    <!-- link custom js -->
    <script src="main.js"></script>
</body>

</html>