<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cafe Selebew - Pesan Kopi dan Pickup di outlet terdekat</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <!-- navbar -->
    <header>
        <a href="customer-dashboard.html" class="logo">
            <img src="img/customer.png" alt="">
            <span class="username">Lisa</span>
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="customer-dashboard.html">Main</a></li>
            <li><a href="ordermenu.html">Order</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="logout.html">Logout</a></li>
        </ul>
    </header>

    <section class="shop" id="shop">
        <div class="heading">
            <span>Beli Sekarang</span>
            <h1>Daftar Menu</h1>
        </div>
        <div class="shop-container">
            <div class="box">
                <div class="box-img">
                    <img src="img/shop1cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Kopi Selebew</h2>
                <span>Rp 19,000</span>
                <a href="pembayaran.html" class="btn">Pesan Sekarang</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/shop2cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Kopi Susu</h2>
                <span>Rp 19,000</span>
                <a href="pembayaran.html" class="btn">Pesan Sekarang</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/shop3cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Milo Coklat</h2>
                <span>Rp 22,000</span>
                <a href="pembayaran.html" class="btn">Pesan Sekarang</a>
            </div>

            <!-- lanjutan  -->

            <div class="box">
                <div class="box-img">
                    <img src="img/shop4cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Kopi Latte</h2>
                <span>Rp 15,000</span>
                <a href="pembayaran.html" class="btn">Pesan Sekarang</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/shop5cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Cappuccino</h2>
                <span>Rp 15,000</span>
                <a href="pembayaran.html" class="btn">Pesan Sekarang</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="img/shop6cafe.png" alt="">
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>
                <h2>Espresso</h2>
                <span>Rp 17,000</span>
                <a href="pembayaran.html" class="btn">Pesan Sekarang</a>
            </div>
        </div>

    </section>

    <!-- business -->
    <section class="contact" id="contact">
        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-youtube'></i></a>
        </div>
        <div class="links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms Of Use</a>
            <a href="#">Our Company</a>
        </div>
        <p>&#169; CafeSelebew All Right Reserved.</p>
    </section>

    <!-- link custom js -->
    <script src="main.js"></script>

    <!-- CSS TAMBAHAN -->
    <style>
        .logo {
            display: flex;
            align-items: center;
        }
        
        .username {
            font-weight: 500;
            color: var(--second-color);
            margin-left: 10px;
        }
        
        .username:hover {
            font-weight: 500;
            color: var(--main-color);
            margin-left: 10px;
        }
    </style>
</body>

</html>